.login {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  height: 350px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .login-container {
    width: 500px;
    height: 450px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
}

.website-logo {
  height: auto;
  width: 100px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 200px;
    margin-bottom: 50px;
  }
}

.label {
  font-family: Roboto;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  padding: 12px;
  font-family: Roboto;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #7e858e;
  outline: none;
  margin-bottom: 25px;
  border-radius: 5px;
  color: #ffffff;
}

.login-button {
  padding: 8px;
  background-color: #6366f1;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
}

.error-message {
  font-family: Roboto;
  color: #ff0b37;
}
